local-hostname: {{ inventory_hostname }}
network:
  version: 2
  ethernets:
    {% if cc_hypervisor == 'vsphere' %}ens192{% elif cc_hypervisor == 'pve_ssh' %}ens18{% else %}eth0{% endif %}:
      dhcp4: False
      dhcp6: False
      addresses:
        - {{ hostvars[inventory_hostname].ansible_host }}/{{ vm_mask_0 }}
      gateway4: {{ vm_gateway_0 }}
      nameservers:
        addresses: [{{ vm_dns_0 }}]
{% if hostvars[inventory_hostname].ansible_host != hostvars[inventory_hostname].ip %}
    {% if cc_hypervisor == 'vsphere' %}ens224{% elif cc_hypervisor == 'pve_ssh' %}ens19{% else %}eth1{% endif %}:
      dhcp4: False
      dhcp6: False
      addresses:
        - {{ hostvars[inventory_hostname].ip }}/{{ vm_mask_1 }}
{% endif %}