#cloud-config
users:
  - name: {{ cc_os_user }}
    gecos: {{ vm_gecos }}
    groups: [adm, audio, cdrom, dialout, dip, floppy, lxd, netdev, plugdev, sudo, video]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    plain_text_passwd: {{ cc_os_pass }}
    lock_passwd: False
ssh_pwauth: True
keyboard:
  layout: {{ vm_keyboard_layout }}
timezone: {{ vm_timezone }}